@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  line-height: 1.35;
  font-family: 'Roboto';
}

header {
  background-color: hsl(355, 82%, 52%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
  margin: auto;
  position: relative;
}

header::before,
header::after {
  content: '';
  background-color: #fff;
  height: 160px;
  left: 0;
  right: 0;
  position: absolute;
  transform: skewY(-20deg);
}

header::before {
  top: -80px;
}

header::after {
  bottom: -80px;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin: 3rem 0;
}
